<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
 <link rel="stylesheet" href="css/viewstyles.css">
</head>
<body>
<div class="div_header">
<img src="img/nodejs_logo.png" alt="Logo">
<h1><%= title %></h1>
</div>
<div class="div_container">
<form method = "post" id="loginForm">


User Name: 	<input type="text" size="30" placeholder="Enter your user name" name="username"><br />
Password: 	<input type="password" size="30" placeholder="Enter your password" name="password"><br />
	<input type="submit" value="Submit" name="submit">

</form>
</div>
</body>

</html>
