<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
 <link rel="stylesheet" href="css/viewstyles.css">
</head>
<body>
<div class="div_header">
<img src="img/nodejs_logo.png" alt="Logo">
<h1><%= title %></h1>
</div>
<!--<h1>Thank you</h1>-->

</body>

</html>
